body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}
footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 15px;
    margin-top: auto;
}
.home-container {
    display: flex;
    justify-content: center; 
    gap: 30px;
    flex: 1;
    align-items: center;
}

.home-card {
    background-color: white;
    width: 200px;    
    text-align: center;
    padding: 30px;
    text-decoration: none;
    color: #111;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form-container {
    width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 14px;
    color:chocolate;
    font-weight:bold ;
}

input, select {
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1f2937;
    color: white;
    border: none;
    cursor: pointer;
}
.login-container {
    display: flex;
    width: 700px;
    margin: 50px auto;
    background-color: white;
    border-radius: 8px;
}
.login-image {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-image img {
    width: 150px;
}
.login-form {
    width: 60%;
    padding: 30px;
}
